node_modules
package-lock.json
yarn.lock
Gemfile.lock
vendor
.bundle
ios/Pods
ios/build
ios/DerivedData
ios/*.xcworkspace
ios/Podfile.lock
ios/.xcode.env.local
android/build
android/app/build
android/.gradle
android/.cxx
android/local.properties
.DS_Store
